html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #440000;
    border: 1px solid blue;
    color: #a0a0a0;
    font-family: Georgia;
}
h1, h2, h3 {
    display: block;
    clear: both;
}
.helpbox {
    background-color: #FBECCE;
    display: block;
    clear: both;
    padding: 3px;
    overflow: auto;
    color: #303030;
    font-size: 10px;
}
.usraction {
    background-color: #FFCFCF;
    display: block;
    float: left;
    overflow: auto;
    width: 200px;
    padding: 1px 3px;
}
.vimaction {
    background-color: #D5FBCE;
    display: block;
    float: left;
    overflow: auto;
    width: 200px;
    padding: 1px 3px;
}
.example {
    background-color: #D5FBFF;
    display: block;
    float: left;
    overflow: auto;
    width: 200px;
    padding: 1px 3px;
}

