.key {
    border: 1px solid black;
    width: 26px;
    height: 26px;
    display: inline-block;
    line-height: 26px;
    text-align: center;
    margin: 1px;
    /*text-transform: uppercase;*/
    border-radius: 7px;
    /*font-weight: bold;*/
}
